/Tecnicatura/JAVA/Clase11-ProyectoEstudiantes/.idea
/Tecnicatura/JAVA/Clase11-ProyectoEstudiantes/SistemaEstudiantes/.idea

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
ProyectoIntegradorPython/venv/
ProyectoIntegradorPython/env/

# Distribution / packaging
ProyectoIntegradorPython/build/
ProyectoIntegradorPython/dist/
ProyectoIntegradorPython/*.egg-info/

# IDEs and editors
ProyectoIntegradorPython/.idea/
ProyectoIntegradorPython/.vscode/
